* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

.btn {
  border: none;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: rgb(230, 57, 70);
  cursor: pointer;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #f1faee;
  display: flex;
}

.login .loginContainer {
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 520px;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: radial-gradient(
    ellipse at left bottom,
    rgba(29, 53, 87, 1) 0%,
    rgba(16, 34, 59, 0.9) 59%,
    rgba(13, 29, 51, 0.9) 100%
  );
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.8);
}

.login .loginContainer label {
  color: white;
  margin: 14px 0;
  display: block;
  font-size: 22px;
  line-height: 1;
}

.login .loginContainer input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
}

.login .loginContainer .btnContainer {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .loginContainer .btnContainer p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .loginContainer .btnContainer p span:hover {
  color: red;
}

.login .loginContainer .errorMsg {
  color: red;
  font-size: 16px;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: #3c5b88;
}

.hero nav {
  background: #1d3557;
  width: 100%;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.hero nav h2 {
  color: #fff;
}

.hero nav button {
  width: 86px;
  padding: 8px 0;
  background: #e63946;
}

.hero nav p {
  color: white !important;
  font-weight: bolder;
}

.hero nav p a:visited {
  color: white;
}

.container {
  display: flex;
  height: 70vh;
  justify-content: space-around;
  margin-top: 10vh;
}

.left {
  width: 10%;
  margin-left: 5%;
}

.main-content {
  width: 70%;
  margin-right: 10%;
  overflow-x: scroll;
}

.initial-card-container {
  display: flex;
  justify-content: space-around;
}

.initial-card {
  margin: 10px;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-top: 150px;
  width: 300px;
  height: 300px;
  line-height: 300px;
  font-family: "Nanum Gothic", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.initial-card:hover {
  box-shadow: 0 20px 38px 0 rgba(0, 0, 0, 0.4);
}

.plan-container {
  display: flex;
  overflow-y: scroll;
}

.plan-card {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  font-weight: bolder;
  width: 300px;
  height: 300px;
  margin: 170px 25px 100px 25px;
  font-family: "Nanum Gothic", sans-serif;
}

.plan-card:hover {
  box-shadow: 0 20px 38px 0 rgba(0, 0, 0, 0.4);
}

.card-content {
  background-color: rgba(0, 0, 0, 0.6);
  height: 300px;
  padding: 30px;
  font-size: 24px;
  position: relative;
}

.plan-content {
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: rgb(197, 197, 197);
  font-size: 16px;
  font-style: italic;
  letter-spacing: 3px;
}

.individual-container {
  display: flex;
  overflow-y: scroll;
}

.individual-card {
  margin: 10px;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  font-weight: bolder;
  width: 200px;
  height: 200px;
  font-family: "Nanum Gothic", sans-serif;
  text-align: center;
}

.individual-card:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4);
}

.scrollable-container {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
}

.group-name {
  font-family: "Nanum Gothic", sans-serif;
  color: white;
  text-shadow: 2px 2px 4px black;
  font-weight: 900;
  font-size: 35px;
  margin: 10px;
  letter-spacing: 10px;
}

.pop-up {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 300px;
  background-color: white;
  z-index: 999;
  padding: 40px;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.4);
}

.play-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}

#canvas {
  margin-top: 100px;
  width: 500px;
  height: 500px;
  background-color: white;
}

.process {
  padding: 30px;
  width: 300px;
  height: 300px;
  font-size: 20px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

.process > p {
  color: transparent;
}

.skip-button {
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  transition: 0.4s;
  font-weight: bolder;
}

.skip-button:hover {
  background-color: gray;
}

.skip-button:focus {
  outline: none;
}

.loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.308);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 70px;
}
